<% if @tasks.any? %>
  Sort by: <%= link_to "Due First", "/?sort=due_date" %> | <%= link_to "Incomplete", "/?sort=incomplete" %> | <%= link_to "Complete", "/?sort=complete" %> | <%= link_to "Due Today", "/?sort=due_today" %>
<div class="row">
    <% @tasks.each do |task| %>
      <div class="col-sm-6">
        <div class="task-<%= task.id %>">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> <%= task.title %> </h5>
              <p class="card-text"> <%= task.description %> <p>
              <p class="card-text">Status: <%= task.status %> <p>
              <a href="/tasks/<%= task.id %>" class="card-link">View Task</a>
              <h6 class="card-subtitle mb-2 text-muted">Tags:
                <% task.tags.each do |tag| %>
                  <%= link_to tag.name, tag_path(tag)  %>
                <% end %>
              </h6>
              <h6 class="card-subtitle mb-2 text-muted">Created: <%= task.created_at %> </h6>
              <h6 class="card-subtitle mb-2 text-muted">Updated: <%= task.updated_at %> </h6>
              <h6 class="card-subtitle mb-2 text-muted">Due by: <%= task.due_date %> </h6>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else  %>
  <h5>There are currently no tasks in the system.</h5>
<% end %>
